@model MCMS.Infrastructure.Models.Subject

@{
    ViewData["Title"] = "Add Subject";
}

<h1>Add New Subject</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="SubjectName" class="control-label"></label>
                <input asp-for="SubjectName" class="form-control" />
                <span asp-validation-for="SubjectName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CourseId" class="control-label">Course</label>
                <select asp-for="CourseId" class="form-select" asp-items="ViewBag.CourseId"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DepartmentId" class="control-label">Department</label>
                <select asp-for="DepartmentId" class="form-select" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Credits" class="control-label"></label>
                <input asp-for="Credits" class="form-control" type="number" min="1" />
                <span asp-validation-for="Credits" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Semester" class="control-label"></label>
                <select asp-for="Semester" class="form-select">
                    <option value="Semester 1">Semester 1</option>
                    <option value="Semester 2">Semester 2</option>
                    <option value="Semester 3">Semester 3</option>
                    <option value="Semester 4">Semester 4</option>
                    <option value="Semester 5">Semester 5</option>
                    <option value="Semester 6">Semester 6</option>
                    <option value="Semester 7">Semester 7</option>
                    <option value="Semester 8">Semester 8</option>
                </select>
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}