<div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
    <div class="text-dark order-2 order-md-1">
        <span class="text-muted fw-bold me-1">2025©</span>
        <a href="https://yourcompany.com" target="_blank" class="text-gray-800 text-hover-primary">Your Company</a>
    </div>
</div>